body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #272C34;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.jukebox-search{
  position: relative;
}

#search-bar{
  /* width: 100%;
  height: 40px;
  max-width: 500px;
  margin: 20px; */
  margin: 30px 10px 20px 10px;
  width: 240px;
  box-sizing: content-box;
  padding: 10px;
  font-size: 16px;
  background-color: #3F4045;
  border-radius: 4px;
  border: 2px solid #ccc;
  color: white;
  text-align: center;
}

.search-result{
  padding: 20px 0px 10px 0px;
  font-size: 16px;
  width: 300px;
  margin: auto;
  text-align: center;
  background-color: #272C34;
  color: white;
  border: 2px solid #ccc;
}

.search-result:hover{
  background-color: #FF5A5F;
  color: white;
}

.queue-result{
  padding: 20px 0px 10px 0px;
  margin: auto;
  width: 400px;
  font-size: 16px;
  background-color: #272C34;
  color: white;
  border: 2px solid #ccc;
}

.queue-result:hover{
  background-color: #FF5A5F;
  color: white;
}

.player-control{
  padding-top: 20px;
}

.jukebox-player{
  background-color: #FF5A5F;
  color: white;
  margin-top: 100px;
  padding: 0px 20px 20px 20px;
}

#search-results{
  padding-top: 20px;
}

.player-element{
  padding: 10px;
}

.control-button:hover{
  color: #272C34;
}

#track-name{
  font-size: 20px;
}

.sign-in-input{
  background-color: white;
  color: black;
}

.go-button{
  background-color: #272C34;
  color: white;
}

img{
  width: 80px;
  height: 80px;
}

.go-button{
  padding: 10px;
}

.spotify-login-button{
  margin-top: 30px;
  padding: 10px;
  font-size: 20px;
  background-color: #272C34;
  color: white;
}

.loading{
  margin-top: 30px;
}

.create-room{
  margin-top: 50px;
}

.join-room{
  margin-top: 100px;
}
#join-room{
  padding: 10px;
  font-size: 20px;
  color: #272C34;
  text-align: center;
  width: 150px;
}

.art{
  width: 50px;
  height: 50px;
}

.track-name{
  font-size: 16px;
}

.track-artist{
  font-size: 12px;
}

.queue-container{
  margin-top: 40px;
}

.added-track{
  color: green;
}

.add-track{
  color: whitesmoke;
}

.clear-search{
  position: relative; 
  margin-left: -40px;
  
}