body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #272C34;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.jukebox-search{
  position: relative;
}

#search-bar{
  /* width: 100%;
  height: 40px;
  max-width: 500px;
  margin: 20px; */
  margin: 30px 10px 20px 10px;
  width: 200px;
  padding: 10px;
  font-size: 16px;
  background-color: #3F4045;
  border-radius: 4px;
  border: 2px solid #ccc;
  color: white;
  text-align: left;
}

.search-result{
  padding: 20px 0px 00px 0px;
  font-size: 16px;
  width: 300px;
  margin: auto;
  text-align: center;
  background-color: #171a1f;
  color: white;
}

.search-result:hover{
  background-color: #FF5A5F;
  color: white;
}

.queue-result{
  padding: 20px;
  margin: 5px;
  font-size: 16px;
  width: 170px;
  height: 170px;
  background-color: #171a1f;
  color: white;
  word-wrap: break-word;
}

.queue-result:hover{
  background-color: #FF5A5F;
  color: white;
}

.current-track-details{
  margin-bottom: 20px;
  display: inline-block;
}


.jukebox-player{
  background-color: #FF5A5F;
  color: white;
  margin-top: 50px;
  padding: 20px;
  padding-bottom: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0px !important;
  position: fixed;
}

.phantom{
  display: block;
  padding: 20px;
  height: 60px;
  width: 100%;
}

.search-results{
  padding: 20px;
}

.player-element{
  margin: 10px;
}

.control-button:hover{
  color: #272C34;
}

#track-name{
  font-size: 12px;
}
#artist-name{
  font-size: 10px;
}
#album-name{
  font-size: 10px;
}

.sign-in-input{
  background-color: white;
  color: black;
}

.go-button{
  background-color: #272C34;
  color: white;
}

.album-art{
  width: 70px;
  height: 70px;
}

.album-art-player{
  max-width: 70px;
  width: 100%;
  height: auto;
}

.go-button{
  padding: 10px;
}

.spotify-login-button{
  margin-top: 30px;
  padding: 10px;
  font-size: 20px;
  background-color: #272C34;
  color: white;
}

.loading{
  margin-top: 30px;
}

.create-room{
  margin-top: 50px;
}

.join-room{
  margin-top: 100px;
}
#join-room{
  padding: 10px;
  font-size: 20px;
  color: #272C34;
  text-align: center;
  width: 180px;
}

.art{
  width: 50px;
  height: 50px;
}

.track-name{
  font-size: 18px;
}

.track-artist{
  font-size: 12px;
}

.queue-container{
  margin-top: 40px;
  margin-bottom: 0px;
}

.added-track{
  color: green;
}

.add-track{
  color: whitesmoke;
}

.clear-search{
  position: relative; 
  margin-left: -40px;
  
}
.queue-container{
  margin: 20px;
}
.progress{
  color: white;
  background-image: none !important;
  background-color: #ffa6a9 !important;
  height: 5px;
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}
.progress-bar{
  background-color: #FAF0E6;
}
.progress-text{
  color: white !important;
}
.track-progress{
  margin-left: auto;
  margin-right: auto;
}

.page-header{
  border: 0px;
  margin-top:5px;
}

.logout-button{
  background-color: #272C34;
  border-style: solid;
  border-radius: 2px;
  border-color: white;
  margin-left: 20px !important;
}
.logout-button:hover{
  background-color: white;
  color: #272C34;
}
.main{
  margin-bottom: 240px;
}
.room-list{
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
}
.room-item{
  border-bottom: white solid 2px;
  font-size: 16px;
  margin: 0px;
  padding: 10px;
}
.room-item:hover{
  background-color: white;
  color: black;
}
.error{
  margin: 10px;
  color: white;
}
.home-container{
  margin-bottom: 30px;
}
.player-control{
  margin-left: 200px;
  padding-top: 10px;
}

/* Popup Search */
.search-container{
  background-color: #171a1f;
  color: white;
  margin: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

/* Full Screen Stuff */

.full-screen-player{
  /* background-color: rgba(255, 90, 95, 0.8); */
  background-color: #FF5A5F;
  color: white;
  margin: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.fullscreen-body{
  margin: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -120px;
}
.fullscren-track-details{
  margin: 20px;
}
.fullscreen-player-controls{
  margin: 20px;
}
.fullscreeen-album-art{
  width: 200px;
  height: 200px;
}

.fullscreen-track-name{
  font-size: 20px;
  padding: 10px;
}
.fullscreen-album-name{
  font-size: 14px;
  padding: 5px;
}

.fullscreen-artist-name{
  font-size: 16px;
  padding: 5px;
}
.fullscreen-player-control{
  padding: 20px;
}
.close-fullscreen{
  padding: 20px;
}
.open-fullscreen{
  margin-top: 0px;
  padding-bottom: 10px;
}
.btn-group{
  margin-right: 40px;
} 
.scrolling-wrapper{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-left: 20px;
}
.card {
  flex: 0 0 auto;
}
.queue-track-title{
  margin-top: 5px;
  word-wrap: break-word;
  font-size: 12px;
}
.queue-album-art{
  margin-top: 0px;
}
.queue-artist-title{
  color: gray;
}
.queue-title{
  margin-left: 50px;
}

.playlist-item{
  padding: 20px;
  margin: 5px;
  font-size: 12px;
  width: 150px;
  height: 150px;
  background-color: #171a1f;
  color: white;
  word-wrap: break-word;
  border: none;
}
.playlist-item:hover{
  background-color: #FF5A5F;
  color: white
}
.playlist-grid-title{
  padding-top: 10px;
  margin-bottom: 0px;
}
.track-info{
  background-color: #171a1f;
  color: white;
  margin: 5px;
  padding: 5px;
}
.track-content{
  -webkit-flex: 1 1 auto;
    overflow-y: auto;
    height: 500px;
}
.queue-manager{
  min-height: 0;
}